<!-- <div>
  <br>
  <% if @jobs.blank? %>
    <br>
    <h2 class="search-info-title">搜索信息不能为空，请输入关键字搜索</h2>
  <% else %>
    <h2 class="search-info-title"> 有关"<%= @query_string %>"的工作信息 </h2>
    <div class="search-result">

      <div class="row jobs-show0"></div>
      <div class="job-table">
        <% @jobs.each do |job| %>
        <div class="row jobs-show">

          <div class="col-md-12 col-lg-9 col-lg-offset-1">

            <div class="pull-right">
              发布时间：<%= job.created_at.to_date %>
            </div>
            <p ><%= link_to(render_highlight_content(job,@query_string),job_path(job)) %></p>

          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="text-center">
      <%= will_paginate(@jobs, renderer: BootstrapPagination::Rails) %>
    </div>
  <% end %>
</div> -->

<div class="col-md-12">
  <br>
  <% if @jobs.blank? %>
    <br>
    <h2 class="search-info-title">搜索信息不能为空，请输入关键字搜索</h2>
  <% else %>
  <br>
            <div class="dropdown clearfix pull-right">
              <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                排序
                <b class="caret"></b>
              </button>
              <ul class="dropdown-menu">
                <li> <%= link_to("按照工资下限排序", search_jobs_path(:order => "by_lower_bound")) %> </li>
                <li> <%= link_to("按照工资上限排序", search_jobs_path(:order => "by_upper_bound")) %> </li>
                <li> <%= link_to("按照发表时间排序", search_jobs_path) %> </li>
              </ul>
            </div>
  <table class="table table-hover table-boldered table-striped">
    <thead>
      <tr>
        <td> 招聘岗位 </td>
        <td> 工作地点 </td>
        <td> 公司 </td>
        <td> 工资下限 </td>
        <td> 工资上限 </td>
        <td> 发布时间 </td>
      </tr>
    </thead>
    <tbody>
      <% @jobs.each do |job| %>
      <tr>
        <td><%= link_to(job.title, job_path(job)) %></td>
        <td><%= job.city %></td>
        <td><%= job.company%></td>
        <td><%= job.wage_lower_bound %></td>
        <td><%= job.wage_upper_bound %></td>
        <td><%= job.created_at %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="text-center">
    <%= will_paginate(@jobs, renderer: BootstrapPagination::Rails) %>
  </div>
  <% end %>
</div>
