<h3> 投交履历到 <%= @job.title %> </h3>

<hr>

<% if !@resume.errors.empty? %>
  <div class="alert alert-error">
    <ul>
      <% @resume.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="well">
  <%= simple_form_for [@job, @resume] do |f| %>
    <%= f.input :content %>
    <%= f.input :attachment %>
    <%= f.submit "送出" %>
  <% end %>
</div>
